# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Coverage
coverage

# Cache
.cache
.parcel-cache

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea